rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // WARNING: Public access for debugging only. Restrict for production!
      allow read, write: if true;
    }
  }
} 